# === NO excluir código ni configs necesarias ===
# Archivos grandes/irrelevantes para el build:
node_modules
dist
coverage
.git
.gitignore
npm-debug.log
*.log

# (Opcional) si no los usas dentro del build:
reports
